<%= render :partial => 'shared/list_shots' %>	

<a class="center next-page" href="pagination/<%=@page.to_i+1%>">next</a>	
<script type="text/javascript">document.ligthBox( $('#shots-page_<%=@page%>').find('.shot') )</script>
