<% provide(:title, 'Dribbble') %>

<div class="row">
	<div class="col-xs-12 col-sm-11 col-md-12  center list-cont">
		<%= render :partial => 'shared/list_shots' %>		
		<div class="clear"></div>
		<a class="center next-page" href="/pagination/2">next</a>
	</div>
</div>




