<% provide(:title , 'Fazer login') %>
<div class="row ">
	<div class="col-xs-12  col-sm-4 user-form">
		<h1 class="section-title center">Fazer Log in:</h1>
		<%= form_for(:session, url: sessions_path, html: {class:'user-form'} ) do |f| %>
			<div class="form-group">
				
				<%= f.label :email %>
				<%= f.text_field :email, class: "form-control" %>
				
			</div>
						
			<div class="form-group">
			
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control" %>
				
			</div>
			
			<div class="form-group">
				
				<%= f.submit "Login", class: "btn btn-large btn-primary " %>
					
			</div>
		<% end %>
		
		
		<p>Não tem conta? <%= link_to "Cadastro", signup_path %></p>
	</div>
</div>