<figure><img src="<%= @shot.image_url %>"></figure>
<div class="shot-data">
	<div class="player">
		<span class="avatar">
			<img src="<%= @shot.player.avatar_url %>" >
		</span>
		<span class="player-name"><%= @shot.player.name %></span>
	</div>
	<h2><%= @shot.title %></h2>
	<div class="decription"><%= raw @shot.description %></div>
</div>
