<% provide(:title, 'Sign up') %>


<div class="row">
  <div class="col-xs-12  col-sm-4 centered">
  	<h1 class="section-title center">Cadastro</h1>
	<%= form_for(@user, html: {class:'user-form'}) do |f| %>
	 
	  <%= render :partial => 'shared/error_messages',  :locals => {:model => @user} %>	
	  <div class="form-group">			
		  <%= f.label :name, "Nome" %>
		  <%= f.text_field :name, class: "form-control" %>
	  </div>
	  
	  <div class="form-group"> 		
		  <%= f.label :email %>
		  <%= f.text_field :email, class: "form-control" %>
	  </div>
	  
	  <div class="form-group">
		  <%= f.label :password, "Senha" %>
		  <%= f.password_field :password, class: "form-control" %>
	  </div>
	  
	  <div class="form-group">
		  <%= f.label :password_confirmation, "Repete senha" %>
		  <%= f.password_field :password_confirmation, class: "form-control" %>
	  </div>
	  
	  <div class="form-group">
	  	<%= f.submit "Criar Conta", class: "btn btn-large btn-primary" %>
	  </div>
	<% end %>
  </div>
</div>