<% if !model.nil? && model.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Tem <%= pluralize(model.errors.count, "error") %>.
    </div>
    <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>