<ul class="list-inline dribbble-list" id="shots-page_<%=@page%>">
	<% @shots.each do |s|%>
		<li class="col-xs-6 col-sm-4 shot" data-shot="<%= s.id %>" >
			<figure>
				<img src="<%= s.image_url %>" />
				<div class="meta">
					<ul class="list-inline">
						<li><%= fa_icon "eye"%> <%= s.views_count %></li>
						<li><%= fa_icon "comment-o"%> <%= s.comments_count %></li>
						<li><%= fa_icon "heart-o"%> <%= s.likes_count %></li>
					</ul>
				</div>
				<div class="overlay">
					<h2><%= s.title %></h2>
					<% desc = strip_tags (raw s.description) %>
					<div class="description"><%= truncate(desc, :length => 100, :separator => ' ',:escape=>false)%></div>
				</div>
			</figure>
		</li>
	<% end %>
</ul>
