@import "bootstrap-sprockets";
@import "bootstrap";

@import "compass/css3";

@import "font-awesome";

body{background-color: #e5e5e5}
.center{ margin:0 auto; float:none;}

.container{max-width:960px;}

.main-container{margin-top:77px}

h1{font-size:2.5rem}

.user-form{margin-top:20px;}

$navToggleCol: #D0D0D0;
$backHover:#353434;
.main-header{
  @include transform(translate3d(0,0,0));
  position:fixed;
  z-index:800;
  top:0;
  left:0;
  width:100%;
  background-color:#000;
  @include border-radius(0);
  a{
    color:$navToggleCol;
  }
  .navbar-toggle{
    border:1px solid $navToggleCol;
    .icon-bar{
      background-color:$navToggleCol;
      
    }
  }
}

.dropdown{
  background-color:#000;
  color:$navToggleCol;
  &.open{
    color:$navToggleCol;
  }
}

.dropdown-menu{
  background-color:#000;
  >li{
    >a{
      color:$navToggleCol;
      &:hover{
        color:$navToggleCol;
        background-color:$backHover;
      }
    }
  }
} 


.nav{
  >li{
   >a:hover, a:focus{
     background-color: $backHover!important;
     
   } 
  }  
}

.dribbble-list{
  &>li{
    padding:1%;
    @media (max-width: 319px) {
       width:100%
    }
    
    &:hover > figure .overlay{
      opacity:1;
      z-index:99;
    }
    .overlay{
      @include transition(0.3s 0s ease opacity);
      background-color:#fff;
      opacity:0;
      position:absolute;
      z-index:0;
      top:3%;
      bottom:0;
      left:3%;
      right:3%;
      font-size: 1.3rem;
      padding: 7%;
      h2{
        margin: 0 0 5px;
        font-size:1.5rem;
        font-weight:600;
      }
      .description{
      }
    }
    
    figure{
      cursor:pointer;
      position:relative;
      background-color:#fff;
      padding: 3% 3% 0;
      @include box-shadow(1px 1px 3px -1px #C7C6C6);
      background-color:#fff;
      border: 1px solid #CFCFCF;
      @include border-radius(3px);
      overflow:hidden;
      .meta{
        padding: 2px 0;
        font-size: 1.2rem;
        text-align: right;
        
        li{
          padding-right:0;
        }
      }
      img{
        width:100%;
        max-width:100%;
      }
    }
  }
  
}

.clear, .jscroll-added{clear:both;}
.next-page{display:none;}
.jscroll-loading{width: 15px; margin: auto;}


#ligthbox{
  display:none;
  z-index:800;
  position:fixed;
  background-color: rgba(0, 0, 0, 0.48);
  width:100%;
  height:100%;
  top:0;
  &.active{
    display:block;
  }
  .overlay{
    z-index:900;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }
  .shot-container{
    position:relative;
    background-color: #fff;
    z-index: 950;
    width: 98%;
    max-width: 360px;
    font-size: 1.2rem;
    border: 1px solid #CAC5C5;
    figure {
      padding:2%;
      @include box-shadow(1px 1px 3px -1px #C7C6C6);
      
      
      img{
        max-width:100%;
      }
    }
    h2{
      margin:0 0 10px;
      font-size:1.5rem;
      font-weight:600;
    }
    .shot-data{
      padding:1% 5%;
    }
    .player{
      margin: 10px 0 24px;
      span{
        display:block;
      }
    }
    .player-name{
      padding: 9px 0 0 42px;
      font-weight:600;
    }
    .avatar{
      position:absolute;
      height: 35px;
      width: 35px;
      overflow: hidden;
      border: 1px solid #e5e5e5;  
      @include border-radius(35px);    
      img{
        max-width:100%;
      }
    }
  }
}

