<nav class="main-header navbar ">
	<div class="container">	
		
	  <div class="navbar-header">
	  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-content" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
	  	<a id="logo" class="navbar-brand" href="<%= url_for root_path %>" name="Desafio Dribbble" >
	  		<img alt="dribbble" src="https://d13yacurqjgara.cloudfront.net/assets/logo-small-c1d9a9e90643192d4835730985b4b65c.png">
	  	</a>
	  	
	  </div>
		
			
	  <div class=" collapse navbar-collapse  " id="menu-content" role="navigation">
	  	
	    <ul class="nav navbar-nav navbar-right">
	  		<li><%= link_to "Home",    root_path %></li>
	  		<% if signed_in? %>
	  		
	  			<li class="dropdown">
	  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		  				<span class="glyphicon glyphicon-user"></span>	
		  				Olá <%= @current_user.name %><span class="caret"></span>
	  				</a>
	  				<ul class="dropdown-menu" role="menu">
	  					<li><%= link_to "Log out", signout_path, method: "delete" %></li>
	  				</ul>
				</li>
				
	  		<%else %><%# if signed in %>
				<li><%= link_to "Log in", '/signin' %></li>
			<% end%>
		</ul>
	  </div>
	  
	  
	</div>
</nav>
