<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="X-UA-Compatible"  content="IE=edge,chrome=1">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">

    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>  	
	 <%= render :partial => 'layouts/header' %>	
    <div class="container main-container">     
     <%= yield %>
     <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render :partial => 'layouts/lightbox' %>	
  </body>
</html>